<ion-view view-title="Menu">
  <ion-content>
    <div class="list">
      <div class="item item-divider" style="text-align: center">
        Linear equation Systems
      </div>
      <div class="item item-divider" style="background: white">
          Methods to find good initial values
      </div>
      <a class="item" href="#" >
        Graphic Method
      </a>
      <a class="item" href="#">
        Incremental Search
      </a>
      <div class="item item-divider" style="background: white">
        Closed Interval Search Methods
      </div>
      <a class="item" href="#" >
        Bisection
      </a>
      <a class="item" href="#">
        Regula-Falsi
      </a>
      <div class="item item-divider" style="background: white">
        Open Interval Search Methods
      </div>
      <a class="item" href="#" >
        Fixed Point
      </a>
      <a class="item" href="#">
        Newton
      </a>
      <a class="item" href="#" >
        Secant
      </a>
      <a class="item" href="#">
         Multiple Roots
      </a>
      <div class="item item-divider" style="text-align: center">
        Matrix Equation Methods
      </div>
      <div class="item item-divider" style="background: white">
          Direct Methods
      </div>
      <a class="item" href="#" >
        Simple Gaussian Elimination
      </a>
      <a class="item" href="#">
        LU descomposition
      </a>
      <div class="item item-divider" style="background: white">
        Iterative methods
      </div>
      <a class="item" href="#" >
        Jacobi
      </a>
      <a class="item" href="#">
        Gauss Seidel
      </a>
      <div class="item item-divider" style="text-align: center">
        Interpolation
      </div>
      <a class="item" href="#">
        Newton
      </a>
      <a class="item" href="#">
        Neville
      </a>
      <a class="item" href="#">
        Lagrange
      </a>
      <a class="item" href="#">
        Splines
      </a>
    <div>
  </ion-content>
</ion-view>
