<ion-view view-title="Project Lyra">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <img id="logo" src="img/logo.jpg" style="width:80%;">
        <br><br>
        <h3><b>By:</b></h3>
        <h3>Andrés Mateo Otálvaro Bermúdez</h3>
        <h3>Daniel Ermilson Velasquez Ocampo</h3>
        <h3>Santiago Suarez Pérez</h3>
        <br><br><br>
        <h2>Project Lyra is an app for solving problems involving
          numerical methods. From linear system problem solving, passing trough
          equation systems, and even interpolation methods, Lyra has your back.
          Hope you like it and Enjoy.</h2>
          <h5>version: 0.2</h5>
        </div>
        <br><br>
        <div style="text-align:center;">
          <a ui-sref='app.bigMenu' class="button button-full button-positive">Get In!!</a>
        </div>
      </div>
    <br>
  </ion-content>
</ion-view>
